
.header {
  border-top: 3px solid #003087;
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 0;
  min-width: 0;
  max-height: 110px;
  background: white;
}

.logo {
	max-height: 110px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #003087;
  font-size: 1em;
  color: #fff;
  padding: 45px;
}