
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600);

.header {
  border-top: 3px solid #003087;
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 0;
  min-width: 0;
  max-height: 191px;
  background: white;
  margin: 0;
  padding: 0;
}

body {
	background-color: #fafafa;
	margin: 0px;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #003087;
  font-size: 1em;
  font-family: Montserrat;
  color: #cccccc;
  padding: 45px;
}